@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* noto-serif-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-serif-v22-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-serif-v22-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: black;
  background: #E5E5E5;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.subtitle-margin {
  margin-bottom: 15px;
}

.title-margin {
  margin-bottom: 60px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.4s ease;
}
.header_active {
  background: #333333;
}
.header__burger {
  position: relative;
  width: 40px;
  height: 28px;
  margin-right: 60px;
  display: none;
}
.header__burger-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
}
.header__burger-line_first {
  top: 0;
}
.header__burger-line_second {
  top: 50%;
  transform: translateY(-50%);
}
.header__burger-line_third {
  bottom: 0;
}
.header__wrapper {
  padding: 25px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 40px;
}
.header__item:last-child {
  margin-right: 0px;
}
.header__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.65;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav_first {
  margin-right: 126px;
}
.header__nav_second {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}
.header__item-user {
  margin-right: 30px !important;
}
.header__close {
  width: 50px;
  height: 35px;
  position: relative;
  top: 10px;
  cursor: pointer;
  display: none;
}
.header__close-line {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #FFFFFF;
  left: 0;
  top: 50%;
}
.header__close-line_first {
  transform: translateY(-50%) rotate(45deg);
}
.header__close-line_second {
  transform: translateY(-50%) rotate(-45deg);
}

.search-form {
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.search-form__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  background: transparent;
  color: #FFFFFF;
  border: none;
  width: 50px;
  transition: all 0.4s ease;
}
.search-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.search-form__input:focus {
  width: 80px;
}
.search-form__submit {
  border: none;
  background: none;
  margin-right: 16px;
  display: flex;
}

.main__intro {
  margin-bottom: 100px;
}
.main__products {
  margin-bottom: 120px;
}
.main__about {
  margin-bottom: 120px;
}
.main__articles {
  margin-bottom: 120px;
}
.main__socials {
  margin-bottom: 150px;
}

.intro {
  min-height: 100vh;
  background: url("../img/bg.jpg") no-repeat center/cover;
}
.intro__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.intro__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 600px;
  margin-bottom: 50px;
}
.intro__catalog {
  display: flex;
  justify-content: center;
}
.intro__catalog-link {
  text-decoration: none;
  display: inline-block;
  padding: 15px 35px;
  background: #333333;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.intro__catalog-link:hover {
  background: #4f4f4f;
}
.intro__catalog-link:focus {
  background: #4f4f4f;
}
.intro__catalog-link:active {
  background: #4f4f4f;
}
.intro__footer {
  padding: 30px 0px;
  margin-top: auto;
}
.intro__footer-boxes {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(6, 1fr);
}
.intro__footer-box {
  position: relative;
  grid-column: span 1;
}
.intro__footer-box-pic {
  height: 60px;
  object-fit: cover;
}
.intro__footer-box-line {
  position: absolute;
  right: -30px;
  top: 0;
  width: 60px;
  height: 1px;
  background: #FFFFFF;
  transform: rotate(90deg) translateX(50%);
}

.products__title-small {
  font-family: "Gilroy";
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  margin-bottom: 15px;
}
.products__title-big {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}
.products__boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 24px;
  margin-bottom: 61px;
}
.products__box {
  width: 165px;
  background: #F9F9F9;
  border: 1px solid #D6D6D6;
  grid-column: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  cursor: pointer;
}
.products__box_before {
  position: relative;
  height: 55px;
}
.products__box_before::before {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 8px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #F9F9F9;
  border: 1px solid #D6D6D6;
}
.products__box_active {
  transition: all 0.3s linear;
  background: #333333;
  color: #FFFFFF;
  border: none;
}
.products__box-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  max-width: 165px;
}
.products__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.products__card {
  grid-column: span 2;
  position: relative;
  overflow: hidden;
}
.products__card-pic {
  height: 280px;
  object-fit: cover;
  transition: all 0.3s ease;
}
.products__card-box:hover .products__card-pic {
  transform: scale(1.05);
}
.products__card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.about {
  padding: 100px 0px;
  background: url("../img/about-bg.jpg") no-repeat center/cover;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__wrapper-subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  max-width: 730px;
  margin-bottom: 15px;
}
.about__wrapper-title {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  max-width: 730px;
  margin-bottom: 45px;
}
.about__wrapper-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  max-width: 730px;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.about__wrapper-link-salons {
  text-decoration: none;
  display: inline-block;
  padding: 15px 35px;
  background: #FFFFFF;
  border: 1px solid #333333;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  transition: all 0.3s ease;
  max-width: 730px;
}
.about__wrapper-link-salons:hover, .about__wrapper-link-salons:focus, .about__wrapper-link-salons:active {
  background: #a4a4a4;
}

.articles__subtitle {
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}
.articles__title {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
}
.articles__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 60px;
}
.articles__card {
  grid-column: span 1;
  position: relative;
  overflow: hidden;
}
.articles__card-box {
  overflow: hidden;
}
.articles__card-box-pic {
  height: 370px;
  object-fit: cover;
  transition: all 0.3s ease;
}
.articles__card-box:hover .articles__card-box-pic {
  transform: scale(1.05);
}
.articles__card-title {
  position: absolute;
  bottom: 35px;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.articles__card-title-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  max-width: 206px;
  color: #FFFFFF;
}
.articles__link {
  display: flex;
  justify-content: center;
}
.articles__link-read {
  text-decoration: none;
  display: inline-block;
  padding: 15px 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #333333;
  border: 1px solid #FFFFFF;
  transition: all 0.3s ease;
}
.articles__link-read:hover {
  background: #4f4f4f;
}
.articles__link-read:focus {
  background: #4f4f4f;
}
.articles__link-read:active {
  background: #4f4f4f;
}

.socials__subtitle {
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}
.socials__title {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
}
.socials__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.socials__card {
  grid-column: span 1;
  position: relative;
}
.socials__card-pic {
  height: 312px;
  object-fit: cover;
}
.socials__card-pic_active {
  display: none;
}
.socials__card-video-item {
  width: 100%;
  height: 100%;
}
.socials__card-icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
.socials__card-icon-play_active {
  display: none;
}
.socials__card-video {
  grid-column: span 2 !important;
}

.mailing-list {
  padding-top: 100px;
  padding-bottom: 120px;
  background: url("../img/about-bg.jpg") no-repeat center/cover;
}
.mailing-list__subtitle {
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.mailing-list__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}
.mailing-list__search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.search-form-menu {
  display: flex;
  flex-direction: column;
}
.search-form-menu__item {
  margin-bottom: 15px;
}
.search-form-menu__item:last-child {
  margin-bottom: 0px;
}
.search-form-menu__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  padding-left: 37px;
  background: url("../img/arrow-pic.png") no-repeat left center;
  transition: all 0.3s ease;
}
.search-form-menu__link:hover {
  background: url("../img/arrow-pic.png") no-repeat 5% center;
  opacity: 0.65;
}
.search-form-menu__link:focus {
  background: url("../img/arrow-pic.png") no-repeat 5% center;
  opacity: 0.65;
}
.search-form-menu__link:active {
  background: url("../img/arrow-pic.png") no-repeat 5% center;
  opacity: 0.65;
}

.search-form-box {
  padding: 15px;
  border: 1px solid #FFFFFF;
}
.search-form-box-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background: #FFFFFF;
}
.search-form-box-form__input {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #D6D6D6;
  color: #4f4f4f;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 200px;
  margin-right: 15px;
}
.search-form-box-form__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4f4f4f;
}
.search-form-box-form__submit {
  background: #333333;
  color: #FFFFFF;
  padding: 15px 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s ease;
}
.search-form-box-form__submit:hover {
  background: #4f4f4f;
}
.search-form-box-form__submit:focus {
  background: #4f4f4f;
}
.search-form-box-form__submit:active {
  background: #4f4f4f;
}

.footer__container {
  padding-top: 80px;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.footer__links {
  grid-column: span 1;
  margin-bottom: 60px;
}
.footer__links-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 10px;
  border-bottom: 1px solid #333333;
  margin-bottom: 30px;
}
.footer__links-subtitle {
  max-width: 255px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 20px;
}
.footer__links-cards {
  display: flex;
  flex-wrap: wrap;
}
.footer__links-card {
  display: flex;
  margin-right: 20px;
}
.footer__links-card-link {
  text-decoration: none;
}
.footer__links-menu {
  display: flex;
  flex-direction: column;
}
.footer__links-menu-item {
  margin-bottom: 15px;
}
.footer__links-menu-item:last-child {
  margin-bottom: 0px;
}
.footer__links-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  display: inline-block;
}
.footer__links-menu-link_phone {
  padding-left: 40px;
  background: url("../img/svg/phone-pic.svg") no-repeat left center;
}
.footer__links-menu-link_mail {
  padding-left: 40px;
  background: url("../img/svg/mail-pic.svg") no-repeat left center;
}
.footer__links:last-child {
  margin-right: 0px;
}
.footer__bottom {
  padding: 20px 0px;
  border-top: 1px solid #333333;
}
.footer__bottom-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__bottom-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.footer__bottom-menu-link_last {
  font-weight: 600;
  text-decoration-line: underline;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .header__item {
    margin-right: 30px;
  }
  .header__nav_first {
    margin-right: 50px;
  }
  .search-form {
    margin-right: 30px;
  }
  .intro__footer-box:last-child {
    display: none;
  }
  .intro__footer-boxes {
    grid-template-columns: repeat(5, 1fr);
  }
  .intro__footer-box-line_fifth {
    display: none;
  }
  .products__box {
    width: 135px;
  }
  .products__box-text {
    font-size: 17px;
  }
  .products__box_before {
    height: 50px;
  }
}
@media screen and (max-width: 991px) {
  .main__intro {
    margin-bottom: 80px;
  }
  .main__products {
    margin-bottom: 100px;
  }
  .main__articles {
    margin-bottom: 100px;
  }
  .container {
    max-width: 720px;
  }
  .intro__footer-box:nth-child(4) {
    display: none;
  }
  .intro__footer-boxes {
    grid-template-columns: repeat(4, 1fr);
  }
  .intro__footer-box-line_fourth {
    display: none;
  }
  .products__boxes {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-bottom: 50px;
    justify-items: center;
  }
  .products__box {
    width: 200px;
  }
  .products__box-text {
    font-size: 22px;
  }
  .products__box_before {
    height: 65px;
  }
  .products__title-big {
    margin-bottom: 50px;
  }
  .search-form-box-form__input {
    width: 180px;
  }
  .mailing-list__search-form {
    justify-content: space-between;
  }
  .footer__links-title_small {
    padding-top: 12px;
    padding-bottom: 23px;
  }
  .footer__links-card {
    margin-bottom: 10px;
  }
  .header__nav_first {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: #4f4f4f;
    width: 100%;
    height: 100%;
    padding: 75px;
    transform: translateX(100%);
    transition: all 0.6s linear;
  }
  .header__nav_first-active {
    transform: translateX(0%);
  }
  .header__list_burger {
    display: flex;
    flex-direction: column;
  }
  .header__item_burger {
    margin-bottom: 30px;
  }
  .header__item_burger:last-child {
    margin-bottom: 0px;
  }
  .header__link_burger {
    font-weight: 600;
    font-size: 40px;
  }
  .header__burger {
    display: block;
  }
  .header__close {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .intro__footer-box:nth-child(3) {
    display: none;
  }
  .intro__footer-boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  .intro__footer-box-line_third {
    display: none;
  }
  .header__burger {
    margin-right: 40px;
  }
  .header__item {
    margin-right: 0px;
  }
  .header__item-user {
    display: none;
  }
  .header__item-like {
    display: none;
  }
  .header__nav_first {
    margin-right: 50px;
  }
  .header__logo-pic {
    width: 196px;
  }
  .search-form {
    margin-right: 10px;
  }
  .search-form__submit {
    margin-right: 10px;
  }
  .products__boxes {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
  }
  .products__card {
    grid-column: span 3;
  }
  .articles__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }
  .articles__card {
    grid-column: span 1;
  }
  .articles__card-box-pic {
    width: 100%;
  }
  .articles__card-title-text {
    font-weight: 500;
    font-size: 32px;
    max-width: 406px;
  }
  .socials__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .mailing-list__search-form {
    justify-content: center;
  }
  .search-form-menu {
    margin-bottom: 40px;
  }
  .mailing-list {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .title-margin {
    margin-bottom: 40px;
  }
  .footer__top {
    grid-column-gap: 10px;
  }
  .footer__links-title {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }
  .footer__links-title_small {
    padding-top: 9px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .search-form {
    display: none;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__burger {
    margin-right: 20px;
  }
  .products__card {
    grid-column: span 6;
  }
  .products__card-pic {
    width: 100%;
  }
  .products__card-title {
    font-weight: 600;
    font-size: 32px;
  }
  .footer__container {
    padding-top: 40px !important;
  }
  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  .footer__links-title_small {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .footer__bottom-menu-item {
    margin-bottom: 10px;
  }
  .footer__links {
    margin-bottom: 40px;
  }
  .main__socials {
    margin-bottom: 100px;
  }
  .main__about {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 500px) {
  .intro__footer-box:nth-child(2) {
    display: none;
  }
  .intro__footer-boxes {
    display: flex;
    justify-content: center;
  }
  .intro__footer-box-pic {
    margin-right: 20px;
  }
  .footer__bottom-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .footer__bottom-menu-item {
    grid-column: span 1;
  }
  .main__articles {
    margin-bottom: 60px;
  }
  .about__wrapper-text {
    font-size: 20px;
  }
  .header__link_burger {
    font-size: 32px;
  }
  .header__close {
    width: 40px;
    height: 28px;
  }
  .header__nav_first {
    padding: 50px;
  }
  .intro__title {
    padding-top: 400px;
  }
  .about {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 472px) {
  .search-form-box-form__submit {
    padding: 15px 20px;
  }
  .search-form-box-form__input {
    width: 160px;
  }
  .products__box {
    width: 180px;
  }
}
@media screen and (max-width: 452px) {
  .articles__card-title-text {
    max-width: 356px;
  }
  .footer__links-card {
    margin-right: 17px;
  }
}
@media screen and (max-width: 434px) {
  .products__box {
    width: 150px;
  }
  .products__box_before {
    height: 55px;
  }
  .products__box-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 423px) {
  .header__nav_second {
    display: none;
  }
  .header__logo {
    margin-right: 0;
  }
  .footer__links-title_small {
    padding-top: 10px;
    padding-bottom: 24px;
  }
  .footer__links-card {
    margin-right: 12px;
  }
  .footer__bottom-menu {
    justify-items: stretch;
    align-items: center;
  }
  .footer__bottom-menu-item {
    text-align: center;
  }
  .search-form-box-form {
    justify-content: center;
  }
  .search-form-box-form__input {
    text-align: center;
    width: 220px;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .search-form-box-form__input::placeholder {
    text-align: center;
  }
  .search-form-box {
    max-width: 350px;
  }
  .articles__card-title-text {
    max-width: 300px;
    font-size: 28px;
  }
  .products__card-title {
    font-weight: 500;
    font-size: 29px;
  }
}
@media screen and (max-width: 400px) {
  .intro__title {
    padding-top: 350px;
  }
  .mailing-list {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .footer__links-card {
    margin-right: 8px;
  }
  .header__link_burger {
    font-size: 26px;
  }
  .header__close {
    width: 35px;
    height: 22px;
  }
  .products__box {
    width: 135px;
  }
  .products__box-text {
    font-size: 17px;
  }
  .main__intro {
    margin-bottom: 60px;
  }
  .articles__card-title-text {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
